body {

    justify-content: center;
    background-image: url("BackgroundIMG.jpg");
    background-position: center;
    background-size: auto;

}

.menu {
    margin-right: 15%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title-message {

    text-align: center;
    margin-top: 30%;
    font-size: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.message {
    width: 65%;
    margin-top: 3%;
    font-size: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-self: center;
    padding: 0 100px;
}