
nav {
  display: flex;
  flex-direction: column;
  width: 300px;
}

main {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.form {
  width: 100%;
  /* margin-top: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
