.app {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  width: 300px;
}

main {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 940px) {
  nav {
    width: 200px;

  }
}

@media only screen and (max-width: 940px) {
  main {
    width: 200px;

  }
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

